{% extends 'bootstrap.html' %}
{% block body %}



<div class="jumbotron" style="background-image: url(static/img/mohd-aram-6dsy_LEmoYE-unsplash.jpg);">
  <br><br>
  <h1 class="display-3">Hello, {{user.first_name}}.</h1>
  <h5 class="display-4">Welcome to ScatterPlot.</h5><br><br><hr><br><br>
  <h4 class="lead" style="text-align: justify; font-size:150%;"><b>Scatterplot is a platform made for travel enthusiasts. We believe everyone has their own tastes and they matter to us as much as they matter to you. We are culturlly driven and with us you get to experience the authenticity and uniqueness of various traditions around India. So go craft a custom travel experience just for yourself and dive into your adventure. </b></h4>
  
  <br><br>
</div>

<br><hr><br>

<div>
<footer class="footer">
  <p style="float: right;">© ScatterPlot 2021</p>
</footer>
</div>








{% endblock %}